

wd-color-white {
    color: #F5F5F5;
}

wd-color-gray {
    color: #2F3137;
}

wd-color-gold {
    color: #A4804A;
}

wd-color-red {
    color: #C8102E;
}

body {
    background-color: #000000;
    color: #F5F5F5;

}