body {
    background-color: #000000;
    color: #F5F5F5;

}
.wd-add-review {
    background-color: gray;
    color: black;
    border: 2px solid gray;
}

.wd-add-review:hover {
    background-color: #2F3137;
    color: white;
}

.wd-star-rating {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.wd-on {
    color: #A4804A;
}
.wd-off {
    color: #2F3137;
}

wd-color-white {
    color: #F5F5F5;
}

wd-color-gray {
    color: #2F3137;
}

wd-color-gold {
    color: #A4804A;
}

wd-color-red {
    color: #C8102E;
}

.wd-add-review {
    background-color: gray;
    color: black;
    border: 2px solid gray;
}

.wd-add-review:hover {
    background-color: #2F3137;
    color: white;
}