
.bg-black {
    background-color: #000000;
}

.logo{
    height:200px;
}
.imageLayout{
    border-bottom: 1px solid rgb(153, 153, 153);
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
}

.loginHits{
    color:#F5F5F5;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
}

.inputBox{
    background-color: #595959;
    font-weight: 400;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    border-radius: 7px;
    border: 2px solid #c8102e;
    padding-inline: 14px;
    padding-block-start: 8px;
    padding-block-end: 8px;
    margin:2px 2px 20px 2px;
    line-height:normal;
    width:100%;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ffe599;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    opacity: 1; /* Firefox */
}

.loginInputLayout{
    display: flex;
    flex-direction: column;
}

.loginButton{
    background-color: #000000;
    font-weight: bold;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 20px;
    color:#c8102e;
    border-radius: 10px;
    border: 2px solid #c8102e;
    padding-inline: 14px;
    padding-block-start: 8px;
    padding-block-end: 8px;
    margin:2px 2px 10px 2px;
}

.signupButton{
    background-color: #000000;
    font-weight: bold;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    color:#c8102e;
    border-radius: 10px;
    border: 2px solid #c8102e;
    margin:2px 2px 20px 2px;

    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    touch-action: manipulation;
    transition-duration: 33ms;
    transition-property: background-color, border-color, color, box-shadow, filter, transform;
    user-select: none;
    vertical-align: middle;
    transform: translate3d(0px, 0px, 0px);
    padding-block: 7px;
    position: relative;
    min-block-size: 48px;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    inline-size: 100%;
}

hr{
    color:rgb(153, 153, 153);
    background-color: rgb(153, 153, 153);
    height:5px;
}


