
.wd-bright-red {
    color: #c8102e
}
.wd-white {
    color: #F5F5F5
}
.wd-gold {
    color: #A4804A
}
.wd-grey {
    color: #2F3137
}
.wd-bg-grey {
    background-color: #2F3137;
    color: #F5F5F5;
}
.wd-bg-gold {
    background-color: #A4804A;
}
